<%if flash[:notice] %>
	$("#form").html('');
	$("#form").append('<div class="message"><span id="confirmacao"><%= flash[:notice] %></span></div>');
<% else %>
	$("#message").html('');
	$("#message").append('<div class="message"><span id="confirmacao"><%= flash[:error] %></span></div>');
<% end %>